html{width:100%;height:100%;}
body{
	width:100%;
	margin:0;
	padding:0;
	background: #fff;
	background-repeat:repeat-y;
	background-image: linear-gradient(to top,#C0E9FF,#C0E9FF);
}
@font-face
{
    font-family: dataFont;
    src:url(../fonts/DIN.ttf);
}
-webkit-@font-face
 {
     font-family: dataFont;
     src:url(../fonts/DIN.ttf);
 }
ul,li{list-style-type:none;margin:0;padding:0;}
img{margin:0;padding:0;display:block;}
.cardTop1,.cardTop2,.cardTop3{
	width:100%;
}
.cardTop1 img,.cardTop2 img,.cardTop3 img{
	width:100%;
}
.cardTop2{
	position:relative;
}
.cardMain{
	width:100%;
	margin-top:-1px;
	background:url(../img/cardBgMiddle.jpg) repeat-y;
	background-size:100%;
}
.cardMainBody{
	width:74%;
	margin:0 auto;
	text-align:center;
}
.infoGroup{
	width:100%;
	display:flex;
	flex-direction:column;
	align-items:center;
	padding-top:15px;
}
.infoGroup_name{
	font-weight:bold;
	font-size:24px;
	color:#333333;
}
.infoGroup_sch{
	font-size:14px;
	color:#999999;
	margin-top:8px;
	display:flex;
	flex-direction: row;
	align-items:center;
}
.infoGroup_sch img{
	width:22px;
	height:22px;
}
.info-code{
	color:#0073B3;
	font-size:28px;
	font-family:dataFont;
	text-align:center;
	border-top:1px solid #E1E1E1;
	border-bottom:1px solid #E1E1E1;
	padding:15px 0;
	margin-top:15px;
}
.alertBar{
	width:100%;
	background-image: linear-gradient(to left,#3EE4FF,#1DAEFF);
	padding:0px 10px;
	padding-left:16%;
	margin: 0 auto;
	margin-top: 20px;
	font-size:14px;
	color:#ffffff;
	position:relative;
}
.alertSign{
	width: 32px;
	position: absolute;
	bottom: 12%;
	left: 3%;
	animation: alertSignFlash 1s alternate infinite;
}

.cardBottom{
	width:100%;
}
.cardBottom img{
	width:100%;
	margin-top:-1px;
}

.timeBox{
	width:100%;
	position:absolute;
	top:25%;
	z-index: 99;
	text-align: center;
}
#getTime{
	margin:0 auto;
	font-size: 11px;
	color: #ffffff;
	background-color: rgba(15,87,181,0.3);
	padding: 0px 10px;
	display: inline-block;
	border-radius: 100px;
}
@media screen and (max-width: 350px) {
	.info-code{font-size:24px;}
}

@media screen and (min-width: 700px) {
	#getTime{
		font-size:24px;
		padding: 10px 20px;
	}
}

@keyframes alertSignFlash
	{
	from {transform: scale(0.8) rotate(30deg);}
	to {transform:scale(1.4) rotate(-5deg)}
}
.classBox{
	width:90%;
	margin:0 auto;
	margin-top:10px;
}
.classBoxTitle{
	font-size:14px;
	font-weight:bold;
	color:#1DAEFF;
}
.todayCourseContent {
    padding: 15px;
    background-color: #F1F7FA;
    border-radius: 5px;
	margin-top:5px;
}
.weui-cell-list{
   margin-top:5px;
}
.weui-cell-line{
  margin-left:7px;
  margin-top:5px;
  border-left: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  text-align:left;
}
.weui-cell-timeBox{
  display:flex;
  flex-direction:row;
  align-items:center;
  font-size:16px;
  color:#333333;
  font-weight:bold;
}
.weui-cell-timeBox span{
  margin-left:5px;
}
.weui-cell-circle{
  border: 3px solid #1DAEFF;
  border-radius: 100px;
  width: 13px;
  height: 13px;
}
.weui-cell-name{
  font-size: 14px;
  padding-left: 15px;
  margin-top: 3px;
  color: #666666;
}
.weui-cell-location span{
  margin-right:10px;
}

			